<figure>

  <picture {% if include.id %}id="picture-element-{{ include.id }}"{% endif %}>
    <!-- Render a random image from a dir. id must be unique. -->
    {% if include.id and include.dir %}
    <script>
      <!-- pick a random image -->
      const images = []
      const extnames = []
      {% for image in site.static_files %}
        {% if image.path contains include.dir and image.extname != '.webp' %}
            images.push("{{ image.basename }}")
            extnames.push("{{ image.extname }}")
        {% endif %}
      {% endfor %}
      const idx = Math.floor(Math.random() * images.length);
      const img_src_wo_suffix = "{{ include.dir | relative_url }}/" + images[idx];
      const extname = extnames[idx];
      var pic = document.getElementById("picture-element-{{ include.id }}");

      <!-- imagemagick -->
      {% if site.imagemagick.enabled %}
      {% for i in site.imagemagick.widths -%}
      var source{{ i }} = document.createElement('source');
      source{{ i }}.class="responsive-img-srcset"
      source{{ i }}.media="(max-width: {{ i }}px)"
      source{{ i }}.srcset= img_src_wo_suffix.slice() + "-{{ i }}.webp"
      pic.appendChild(source{{ i }});
      {% endfor -%}
      {% endif %}

      <!-- Fallback to the original file -->
      var img = document.createElement('img');
      pic.appendChild(img);
      img.src = img_src_wo_suffix.slice() + extname;
      img.onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
      {% if include.class %}img.class="{{ include.class }}"{% endif %}
      {% if include.width %}img.width="{{ include.width }}"{% else %}width="auto"{% endif %} 
      {% if include.height %}img.height="{{ include.height }}"{% else %}height="auto"{% endif %} 
      {% if include.min-width %}img.min-width="{{ include.min-width }}"{% endif %} 
      {% if include.min-height %}img.min-height="{{ include.min-height }}"{% endif %} 
      {% if include.max-width %}img.max-width="{{ include.max-width }}"{% endif %} 
      {% if include.max-height %}img.height="{{ include.max-height }}"{% endif %} 
      {% if include.alt %}img.alt="{{ include.alt }}"{% endif %} 
      {% if include.title %}img.title="{{ include.title }}"{% endif %} 
    </script>
    <!-- Use a fixed image -->
    {% else %}
      <!-- imagemagick -->
      {%- assign img_path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}
      {% if site.imagemagick.enabled %}
      {% for i in site.imagemagick.widths -%}
      <source
        class="responsive-img-srcset"
        media="(max-width: {{ i }}px)"
        srcset="{{ img_path | relative_url }}-{{ i }}.webp"
      />
      {% endfor -%}
      {% endif %}
      <!-- Fallback to the original file -->
      <img
        src="{{ include.path | relative_url }}"
        {% if include.class %}class="{{ include.class }}"{% endif %}
        {% if include.width %}width="{{ include.width }}"{% else %}width="auto"{% endif %}
        {% if include.height %}height="{{ include.height }}"{% else %}height="auto"{% endif %}
        {% if include.min-width %}min-width="{{ include.min-width }}"{% endif %}
        {% if include.min-height %}min-height="{{ include.min-height }}"{% endif %}
        {% if include.max-width %}max-width="{{ include.max-width }}"{% endif %}
        {% if include.max-height %}height="{{ include.max-height }}"{% endif %}
        {% if include.alt %}alt="{{ include.alt }}"{% endif %}
        {% if include.title %}title="{{ include.title }}"{% endif %}
        {% if include.zoomable %}data-zoomable{% endif %}
        onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
      />
    {% endif %}

  </picture>

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>
